<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <p>
      El comando <span>git commit</span> captura una instantánea de los cambios
      realizados actualmente en el proyecto
    </p>
    <p>
      Las instantáneas confirmadas pueden considerarse versiones "seguras" de un
      proyecto,
      <span
        >Git nunca las cambiará a menos que usted lo solicite
        explícitamente</span
      >
    </p>
    <p>
      Antes de la ejecución de <span>git commit</span>, el comando git add se
      usa para promover o 'preparar' cambios en el proyecto que se almacenarán
      en una confirmación
    </p>
    <code>$ git <span>commit -m "tu mensaje"</span></code>
  </body>
</html>
