.ContentHome {
  @include layout(0 20px);

  &__title {
    font-size: 1.4rem;
    margin-bottom: 1.25rem;
    font-family: var(--roboto-mono-font);
    span {
      color: var(--orange-sec);
    }
  }

  &__content {
    color: var(--black-third);
    line-height: 1.4;

    p {
      margin-bottom: 0.9rem;
    }

    &__link {
      @include linkStyle;

      i {
        margin-right: 0.3rem;
      }
    }
  }

  &__subTitle {
    @include subTitle;
    margin: 1.5rem 0;
  }
}
