.CommandsContainer {
  &__content {
    &__title {
      font-size: 1.5rem;
      font-family: var(--roboto-mono-font);
    }

    &__flex {
      align-items: center;
      column-gap: 1.4rem;
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      margin-top: 1.6rem;
      margin-bottom: 3rem;
      row-gap: 0.5rem;

      @media (min-width: $ipad) {
        row-gap: 1rem;
      }
    }

    &-btnOs {
      @include btnStyle;
      color: var(--black-text);
      background: var(--orange-background);
      border: 2px solid var(--black-border);

      &:nth-child(1) {
        width: 100px;
      }

      @include shadowHover;
    }

    &-btnConfig {
      @include btnStyle(110px);
      border: 3px solid var(--blue-border-sec);
      background: var(--blue-background);
      color: var(--white-text);

      @media (min-width: $ipad) {
        margin-top: 0;
      }

      @include shadowHover;
    }

    &-btnBlue {
      @include btnStyle;
      color: var(--white-text);
      background: var(--blue-background);
      border: 3px solid var(--blue-border-sec);

      @include shadowHover;
    }

    &-btnKnowMore {
      @include btnStyle(auto);
      border: 2px solid var(--blue-border);
      background: var(--orange-background);
      color: var(--black-text);
      margin: 1rem 0;
      padding: 0.75rem 1rem;

      &:hover {
        box-shadow: 1.1px 1.3px 3px var(--shadow);
      }

      @media (min-width: $ipad) {
        display: none;
      }

      @include shadowHover;
    }
  }
}
