.Layout {
  display: block;

  @media (min-width: $ipad) {
    padding-top: 4rem;
    max-width: 900px;
  }

  /*
    Esta clase simplemente es para que cuando vayan a una ruta
    En la parte del contenido no salga, pero si en el sidebar
  */
  &__noView {
    @media (min-width: $ipad) {
      display: none;
    }
  }
}
