.buttonToShowInfo__btn {
  @include btnStyle;
  display: block;
  margin-top: 1rem;
  background: var(--blue-sec);
  color: var(--white-sec);
  border: 3px solid var(--blue-principal);
  width: auto;
  padding-left: 0.7rem;
  padding-right: 0.7rem;
  transition: var(--transition);

  i {
    margin-right: 0.5rem;
    color: var(--black-third);
    transition: var(--transition);
  }
}

#btnActive {
  transition: var(--transition);
  background-color: var(--orange-third);
  color: var(--black-third);
}
