.buttonToShowInfo__btn {
  @include btnStyle;
  display: block;
  margin-top: 1rem;
  background: var(--blue-background-sec);
  color: var(--white-text);
  border: 3px solid var(--blue-border);
  width: auto;
  padding-left: 0.7rem;
  padding-right: 0.7rem;
  transition: var(--transition);

  // @include shadowHover;

  i {
    margin-right: 0.5rem;
    color: var(--black-text);
    transition: var(--transition);
  }
}

#btnActive {
  transition: var(--transition);
  background-color: var(--orange-background-light);
  color: var(--black-text);
}
