@mixin btnStyle($hoverBg: var(--orange-background-light)) {
  align-self: center;
  border: none;
  border-radius: var(--radius);
  cursor: pointer;
  font-size: 1.2rem;
  line-height: 1;
  outline: none;
  padding: 0.6rem 0.2rem;
  text-align: center;
  width: 95px;

  @include userNoSelect;

  position: relative;
  top: 0;
  left: 0;
  transition: var(--transition);

  &:active {
    transform: scale(0.96, 0.96);
  }

  &:hover {
    box-shadow: 5px 5px 0 $hoverBg;
    top: -3px;
    left: -3px;
  }
}
