@mixin codeStyle {
  code {
    background: var(--blue-background-principal);
    border-radius: var(--radius);
    border: 4px solid var(--blue-border-sec);
    color: var(--white-text-sec);
    display: block;
    font-family: var(--roboto-mono-font);
    font-weight: 500;
    font-size: 0.9rem;
    padding: 0.8rem 1rem;
    letter-spacing: 0.05px;
    margin: 1rem 0;
    max-width: 500px;

    span {
      color: var(--orange-third);
    }

    i {
      color: var(--blue-text-sec);
      margin-right: 1rem;
    }
  }
}
