@mixin contentStyle {
  color: var(black-text-third);
  line-height: 1.4;

  @media (min-width: $ipad) {
    max-width: 700px;
  }

  p {
    margin: 0.9rem 0;

    span {
      margin: 0 0.1rem;
      font-weight: 700;
      letter-spacing: 0.1px;
      color: var(--blue-text);
    }

    a {
      @include linkStyle;
      display: inline;
    }
  }

  a {
    @include linkStyle;

    i {
      margin-right: 0.3rem;
      color: var(--blue-link-style);
    }
  }

  img {
    display: block;
    max-width: 330px;
    margin: 2rem auto;
    border-radius: var(--radius);

    @media (min-width: $ipad) {
      width: 100%;
      max-width: 500px;
    }

    @media (min-width: $laptop) {
      width: 100%;
      max-width: 700px;
    }
  }

  @include codeStyle;
}

.rotate {
  transform: rotate(90deg);
  transition: var(--transition);
}
