@mixin contentStyle {
  color: var(--black-third);
  line-height: 1.4;

  @media (min-width: $ipad) {
    max-width: 700px;
  }

  p {
    margin: 0.9rem 0;

    span {
      margin: 0 0.1rem;
      font-weight: 700;
      letter-spacing: 0.1px;
      color: var(--blue-sec);
    }
  }

  a {
    @include linkStyle;

    i {
      margin-right: 0.3rem;
      color: var(--blue-sec);
    }
  }

  img {
    display: block;
    max-width: 300px;
    margin: 2rem auto;
  }

  // Esta es una clase de una nota importante, para ver como usarlo ver a
  // /GitConfigView/configTerminal/configTerminal.jsx
  .importantNote {
    background: var(--orange-sec);
    border-radius: var(--radius);
    padding: 0.5rem 1rem;
    color: var(--white-principal);
    text-shadow: 0.3px 0.3px 0.8px var(--shadow);
    // width: 315px;
    margin: 1.5rem 0;

    max-width: 350px;

    &__flex {
      @include userNoSelect;
      color: var(--white-principal);
      display: flex;
      align-items: center;
      cursor: pointer;
    }

    i {
      color: var(--white-principal);
      margin-right: 0.5rem;
      transition: var(--transition);
    }

    &__title {
      color: var(--white-principal);
      font-family: var(--roboto-mono-font);
      font-size: 1rem;
    }

    p {
      color: var(--white-principal);
      line-height: 1.5;
      font-weight: 700;
      margin: 0.3rem 0;
      transition: all var(--radius);

      span {
        color: var(--blue-principal);
      }
    }
  }

  @include codeStyle;
}

.rotate {
  transform: rotate(90deg);
  transition: var(--transition);
}
