/*
* Esto solo le da un estilo a los estilos
* para que combinen con la pagina
*
*/
@mixin linkStyle {
  display: inline-block;
  color: var(--blue-sec);
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 0.1px;
  padding: 0.5rem 0;
  transition: var(--transition);
  text-decoration: none;

  &:hover {
    @include underlineText;
  }
}
