.CommandContainer {
  @include layout(20px 5px);

  @media (max-width: $ipad) {
    display: none;
  }

  &__title {
    color: var(--orange-principal);
    opacity: 0.8;
    font-size: 1.5rem;
    text-decoration: none;
    cursor: pointer;
    font-family: var(--roboto-mono-font);

    &:hover {
      opacity: 1;
    }
  }

  &__command {
    display: block;

    &__name {
      display: inline-block;
      align-items: center;
      font-size: 1.5rem;
      color: var(--orange-principal);
      font-family: var(--roboto-mono-font);
      font-weight: bold;
      margin: 1rem 0 1rem 0;
      outline: none;
      cursor: pointer;
      opacity: 0.85;
      transition: var(--transition);
      text-decoration: none;

      i {
        color: var(--orange-sec);
        opacity: 0;
        visibility: hidden;
        margin-right: 0.5rem;
      }

      &:hover {
        opacity: 1;
        transition: var(--transition);

        i {
          opacity: 1;
          visibility: visible;
        }
      }

      span {
        font-family: var(--lato-font);
      }
    }
  }
}
