.GitConfigView {
  @include layout(20px);

  &__title {
    @include titleStyle;
  }

  &__subTitle {
    @include subTitle;
  }

  &__content {
    @include contentStyle;
  }

  /*
    This style can be repeated for multiple fonts in this view
    in some other if necessary
    it would only be to make it more dynamic in a mixin or component
  */
  &__btn {
    @include btnStyle;
    margin-top: 1rem;
    background: var(--blue-background-sec);
    color: var(--white-text);
    border: 3px solid var(--blue-border);
    width: auto;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
