.GitConfigView {
  @include layout(20px);

  &__title {
    @include titleStyle;
  }

  &__subTitle {
    @include subTitle;
  }

  &__content {
    @include contentStyle;
  }

  /*
    Este estilo se puede repetir para varios fuentes en esta vista 
    en alguna otra en caso sea necesario
    solamente seria hacerlo mas dinamico en un mixin o componente
  */
  &__btn {
    @include btnStyle;
    margin-top: 1rem;
    background: var(--blue-background-sec);
    color: var(--white-text-sec);
    border: 3px solid var(--blue-border-principal);
    width: auto;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
