html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 100%;
  scroll-behavior: smooth;
}

* {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  color: var(--general-text);

  &::selection {
    background-color: var(--blue-background-sec);
    color: var(--white-text);
  }

  &::before,
  &::after {
    outline: none;
  }
}

body {
  box-sizing: inherit;
  color: var(--general-text);
  font-family: var(--lato-font);
  line-height: 1.4;
  margin: 0;
  padding: 0;
  scroll-behavior: inherit;
  width: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;

  // Scroll Bar
  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: var(--radius);
    background: var(--orange-background);
  }
}
