.BtnToTop {
  @include btnStyle;

  width: 40px;
  background: var(--blue-principal);
  padding: 0.5rem;
  position: sticky;
  bottom: 0;
  right: 0;
  height: 40px;
  display: flex;
  justify-content: flex-end;
  justify-self: end;
  text-align: right;
  margin: 20px;
  margin-left: auto;
  border-radius: var(--radius);
  transition: var(--transition);

  @media (min-width: $ipad) {
    display: none;
  }

  img {
    width: 20px;
    height: 20px;
    margin: auto;
  }
}

.noView {
  opacity: 0;
}

.view {
  opacity: 1;
  transition-delay: 1s;
}
