.ListCommands {
  @include layout(20px);

  &__title {
    @include titleStyle;
  }

  &__subTitle {
    @include subTitle;
  }

  &__content {
    @include contentStyle;
  }

  &__container {
    opacity: 0.8;
    transition: var(--transition);
    margin-bottom: 5rem;

    &:hover {
      opacity: 1;
    }
  }
}
