.ListCommands {
  @include layout(20px);

  &__title {
    @include titleStyle;
  }

  &__subTitle {
    @include subTitle;
  }

  &__content {
    @include contentStyle;

    p {
      opacity: 0.9;

      &:hover {
        opacity: 1;
      }
    }
  }

  &__container {
    transition: var(--transition);
    margin-bottom: 5rem;
  }
}
