.App {
  position: relative;
  min-height: 100vh;
  scroll-behavior: smooth;

    @media (min-width: $ipad) {
      display: grid;
      column-gap: 2rem;
      grid-template-columns: 280px 1fr;
    }

    @media (min-width: 800px) {
      grid-template-columns: 350px 1fr;
    }

    @media (min-width: $laptop) {
      grid-template-columns: 430px 1fr;
    }
}
