:root {
  font-size: 16px;

  --orange-principal: #f26419;
  --orange-sec: #f3681f;
  --orange-third: #f58b26;

  --blue-principal: #2f4858;
  --blue-sec: #33658a;
  --blue-third: #86bbd8;

  --gray: #5b8298;
  --gray-sec: #cfd2cd;
  --dark-gray: #456578;

  --white-principal: #e2eafc;
  --white-sec: #d7e3fc;

  --black-principal: #212529;
  --black-third: #343a40;
  --black-sec: #353535;
}
