:root {
  font-size: 16px;

  --orange-principal: #f26419;
  --orange-sec: #f56a21;
  --orange-third: #ffa957;

  --blue-principal: #2f4858;
  --blue-sec: #33658a;
  --blue-third: #9fddff;

  --gray: #7b919e;
  --gray-sec: #cfd2cd;
  --dark-gray: #456578;

  --white-principal: #fafafa;
  --white-sec: #f5f5f5;

  --black-principal: #212529;
  --black-third: #343a40;
  --black-sec: #353535;

  // Fonts
  // Titulos y referencia a comandos
  --merri-font: 'Merriweather', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif, serif;
  // Textos y contenido
  --roboto-font: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
}
