:root {
  font-size: 16px;

  --orange-title: #f26419;
  --orange-text: #ff7043;

  --orange-background: #ff7043;
  --orange-background-light: #fea856;

  --blue-text: #2f4858;
  --blue-link-style: #386a8f;

  --blue-background: #2f4858;
  --blue-background-sec: #386a8f;

  --blue-border: #2f4858;
  --blue-border-sec: #386a8f;

  --gray: #7b919e;
  --gray-background-third: #e0e0e0;

  --white-text: #fafafa;

  --black-border: #353535;
  --black-text: #32353c;

  // Fonts
  // Titulos y referencia a comandos
  --roboto-mono-font: 'Roboto Mono', monospace, -apple-system,
    BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif, serif;
  // Contenido
  --lato-font: 'Lato', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;

  // Properties
  --radius: 10px;
  --transition: 0.15s ease;
  --shadow: rgba(53, 53, 53, 0.6);
}

.Dark{
  background-color: #252525;
  --gray-background-third: #353535;
  --black-text: #fafafa;
}

// Media queries
$mobile: 350px;
$ipad: 700px;
$laptop: 1000px;
$desk-large: 1500px;
